section {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.set {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.circle {
  background: #99b0f8;
  border-radius: 50%;
  color: #fff;
  height: 8.4em;
  position: relative;
  width: 8.4em;
}

.circle-content {
  hyphens: auto;
  margin: 0.75em;
  text-align: center;
}

@supports (shape-outside: circle(50%)) {
  .circle-content {
    height: 100%;
    margin: 0;
  }

  .circle::before,
  .circle-content::before {
    content: "";
    height: 100%;
    width: 50%;
  }

  .circle::before {
    float: left;
    shape-outside: polygon(
      0 0,
      100% 0,
      60% 4%,
      40% 10%,
      20% 20%,
      10% 28.2%,
      5% 34.4%,
      0 50%,
      5% 65.6%,
      10% 71.8%,
      20% 80%,
      40% 90%,
      60% 96%,
      100% 100%,
      0 100%
    );
  }

  .circle-content::before {
    float: right;
    shape-outside: polygon(
      100% 0,
      0 0,
      40% 4%,
      60% 10%,
      80% 20%,
      90% 28.2%,
      95% 34.4%,
      100% 50%,
      95% 65.6%,
      90% 71.8%,
      80% 80%,
      60% 90%,
      40% 96%,
      0 100%,
      100% 100%
    );
  }
}

.set div {
  position: absolute;
  display: block;
}
.set div:nth-child(1) {
  left: 20%;
  animation: animate 15s linear infinite;
  animation-delay: -7s;
}
.set div:nth-child(2) {
  left: 50%;
  animation: animate 20s linear infinite;
  animation-delay: -5s;
}
.set div:nth-child(3) {
  left: 70%;
  animation: animate 25s linear infinite;
  animation-delay: -8s;
}
.set div:nth-child(4) {
  left: 0%;
  animation: animate 15s linear infinite;
  animation-delay: -5s;
}
.set div:nth-child(5) {
  left: 85%;
  animation: animate 18s linear infinite;
  animation-delay: -10s;
}
.set div:nth-child(6) {
  left: 0%;
  animation: animate 12s linear infinite;
}
.set div:nth-child(7) {
  left: 15%;
  animation: animate 13s linear infinite;
}
.set div:nth-child(8) {
  left: 60%;
  animation: animate 15s linear infinite;
}

@keyframes animate {
  0% {
    opacity: 0;
    top: -10%;
    transform: translateX(20px) rotate(0deg);
  }
  10% {
    opacity: 1;
  }
  20% {
    transform: translateX(-20px) rotate(45deg);
  }
  40% {
    transform: translateX(-20px) rotate(90deg);
  }
  60% {
    transform: translateX(20px) rotate(135deg);
  }
  80% {
    transform: translateX(-20px) rotate(180deg);
  }
  100% {
    top: 110%;
    transform: translateX(-20px) rotate(225deg);
  }
}
.set2 {
  transform: scale(2) rotateY(180deg);
  filter: blur(2px);
}
.set3 {
  transform: scale(0.8) rotateX(180deg);
  filter: blur(4px);
}
